<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
    <style>
    .col{
        color:white;
        margin-left:px;
    }
    .foot{
        color:#0c3761;
    }
.imgsize{
    width:20px;
    height:20px;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
.abc{
    color:#f3f4f6;
}
.xyz{
    width:300px;
    height:300px;
}
</style>
</head>
<body>
<script type="text/javascript">
        $(document).ready(function(){
            var temp = "";
            var loc = [];
            $.ajax({
                type: "GET",
                url: "/home",
                dataType: 'json',
                success: function(data){
                    var len1 = data.location.length;
                    for(j=0;j<len1;j++)
                    {
                        loc[j] = data.location[j];
                    }
                    $("#location").autocomplete({source:loc});
                    var len2=data.data.length;
                    for(i=0;i<len2;i++)
                        {
                            temp += '<div class = "col s4 m4 l4">';
                            temp += '<div class="card">';
                            temp += '<div class="card-image type" id="type">';
                            temp += '<img class="xyz" src="'+ data.data[i]['image_url'] +'" onclick="view_ptype(\''+data.data[i][
                            'property_type']+'\')" onmouseover=\"this.style.cursor=\'pointer\'\;\">';
                            temp += '<span class="card-title" style = "width:100%; background-color:#335172;">';
                            temp += ''+data.data[i]['property_type']+'<br>';
                            temp += '</span>';
                            temp += '</div>';
                            temp += '</div>';
                            temp += '</div>';
                        }
                        $("#choose_property_type").html(temp);

                },
                error: function(){
                    alert("Please try again later");
                },
            });
        });
        function enquiry()
        {
            $.ajax({
                type:"POST",
                data:{'name':$("#text2").val(), 'contact':$("#text3").val()},
                dataType:'json',
                url:'/enquire',
                success: function(data)
                {
                    alert("We will soon contact you");
                },
                error: function()
                {
                    alert("Sorry! Please try again");
                },
            });
            $("#text2").val("");
            $("#text3").val("");
        }
        function search()
        {
            localStorage.setItem("location1",$("#location").val());
            var bhk = [];
            $('.bhk:checked').each(function(i, e) {
                bhk.push($(this).val());
                });
            localStorage.setItem("bhk",bhk);
            localStorage.setItem("usage",$('input[name="usage"]:checked').val());
            $(location).attr('href','/view_search');
        }
        function view_ptype(value)
        {
            localStorage.setItem("property_type",value);
            $(location).attr('href','/view_property');
        }
        function set_ptype(value)
        {
            localStorage.setItem("property_type1", value);
        }
</script>
<div style="height:120px; padding:15px; background-color:#f3f4f6">
    <img src="/static/app_logo.jpg" style="height:100px; width:200px; margin-top:-5px;">
    <p style="float:right; color:#0c3761;">
        <a href="/view_favorite" style="color:#0c3761;">
            Show Favorites
        </a>
    </p>
</div>
<div class="row" style="padding:1em;">
    <div>
        <div class="row" style="background-image:url('http://im.hunt.in/cg/Ranchi/City-Guide/Property-dealers-ranchi.png'); background-size:cover;">
            <div class="col s12 m6 l5 push-s2 m2 l2">
                    <div class="card-panel" style="margin-top:10px; opacity:0.7; border-radius:10px; background-color: #0c3761">
                        <center>
                            <h4 class="white-text">
                                Search The Right Property
                            </h4>
                        </center>
                        <nav>
                            <div class="nav-wrapper" style="background-color:#daddd8; color:#0a355f;">
                                <ul class="left hide-on-med-and-down">
                                    <li style="padding-left:60px; padding-right:60px;"
                                        onclick="set_ptype('Buy')" onmouseover="this.style.cursor='pointer';">
                                        Buy
                                    </li>
                                    <li style="padding-left:60px; padding-right:60px;"
                                        onclick="set_ptype('Rent')" onmouseover="this.style.cursor='pointer';">
                                        Rent
                                    </li>
                                    <li style="padding-left:50px; padding-right:50px;"
                                        onclick="set_ptype('Projects')" onmouseover="this.style.cursor='pointer';">
                                        Projects
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="abc">Locality</td>
                                    <td>
                                        <input type="text" id="location" class="autocomplete"
                                               placeholder="Enter the locality" style="width:200px; margin-left:20px; color:#daddd8">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="abc">Usage</td>
                                    <td class="txt">
                                        <div class="row">
                                            <div class="col s4 m4 l4">
                                                <input type="radio" id="residential" name="usage" value="Residential">
                                                <label for="residential" class="col">Residential</label>
                                            </div>
                                            <div class="col s4 m4 l4 push-l2">
                                                <input type="radio" id="commercial" name="usage" value="Commercial">
                                                <label class="col" for="commercial">Commercial</label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="abc">BHK</td>
                                    <td class="txt">
                                        <div class="col s2 m2 l2">
                                            <input type="checkbox" id="c1" class="bhk" value="1">
                                            <label for="c1" class="col">1</label>
                                        </div>
                                        <div class="col s2 m2 l2">
                                            <input type="checkbox" id="c2" class="bhk" value="2">
                                            <label for="c2" class="col">2</label>
                                        </div>
                                        <div class="col s2 m2 l2">
                                            <input type="checkbox" id="c3" class="bhk" value="3">
                                            <label class="col" for="c3">3</label>
                                        </div>
                                        <div class="col s2 m2 l2">
                                            <input type="checkbox" id="c4" class="bhk" value="4">
                                            <label class="col" for="c4">4</label>
                                        </div>
                                        <div class="col s2 m2 l2">
                                            <input type="checkbox" id="c5" class="bhk" value="5">
                                            <label class="col" for="c5">5</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <center>
                                            <button class="btn-flat waves-effect waves-light"
                                                    style="background-color:#daddd8; opacity:0.8; color:black; margin-left:0px;" type="submit" value="Submit" onclick="search()">
                                                Search
                                            </button>
                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="div1" class="push-l1">
            <div class="row" id="choose_property_type">

            </div>
        </div>
    </div>
</div>
<footer class="page-footer" style="background-color:#f3f4f6; color:#0c3761">
    <div class="container">
        <div class="row">
            <div class="col l3 s12 foot">
                <h5>Enquiry Form</h5>
                <input type="text" style="width:60%;" name="name" id="text2" placeholder="Enter Your name">
                <input type="tel" style="width:60%; padding-top:10px;" name="phone" id="text3"
                       placeholder="Contact Number" maxlength="10" minlength="10">
                <button class="btn-flat waves-effect waves-light white-text"
                        style="background-color:#0c3761; margin-left:0px;" type="submit" value="Submit" onclick="enquiry()">
                    Submit
                </button>
            </div>
            <div class="col l3 foot">
                <h5>Download App</h5>
                <a class="android appLnk" title="24 Yards Android App" href="">
                <img src="https://storage.googleapis.com/support-kms-prod/D90D94331E54D2005CC8CEE352FF98ECF639"
                     style="height:40px; width:150px">
                </a>
            </div>
            <div class="col l3 foot">
                <h5>Contact Us</h5>
                <i class="material-icons">call</i>
                <b style="padding:10px;">
                    7224987232
                </b>
                <br>
                <i class="material-icons" style="padding-top:10px;">email</i>
                <b style="padding:10px;">
                    yashmoda@gmail.com
                </b>
                <br>
            </div>
            <div class="col l3 foot">
                <h5>Connect With Us</h5>
                 <div>
                     <a class="foot_socialLink fb" href="https://www.facebook.com/24YARDSproperties/">
                        <img class="imgsize" src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png">
                        Facebook
                     </a>
                </div>
                <div style="padding-top:10px;">
                    <a class="foot_socialLink gPlus" href="https://plus.google.com/114633545520768933650">
                        <img class="imgsize" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Google_plus_icon.svg/2000px-Google_plus_icon.svg.png">
                        Google+
                    </a>
                </div>
                <div style="padding-top:10px;">
                    <a class="foot_socialLink tw" href="">
                        <img src="http://jiahaog.com/nativefier-icons/files/twitter.png" class="imgsize">
                        Twitter
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container" style="color:#0c3761;">
            © 2017 24Yards
        </div>
    </div>
</footer>