<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your choosen property type</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#sort").hide();
        $("#filter").hide();
        var property = localStorage.getItem("property_type");
        var temp;
        $.ajax({
            type: 'GET',
            url: "/choose_property",
            dataType: 'json',
            data: {"property_type": property},
            success: function(data){
                for(i in data.get_property)
                {
                    temp += '<div class="card medium horizontal">';
                    temp += '<div class="card-image">';
                    temp += '<img src="'+ data.get_property[i].images[0] +'">';
                    temp += '</div>';
                    temp += '<div class="card-stacked">';
                    temp += '<div class="card-content" id="d1">';
                    temp += 'Title:"'+data.get_property[i]['title']+'"<br>';
                    temp += 'Location:"'+data.get_property[i]['location']+'"<br>';
                    temp += 'BHK:"'+data.get_property[i]['bhk']+'"<br>';
                    temp += 'Price:"'+data.get_property[i]['price']+'"<br>';
                    temp += 'Description:"'+data.get_property[i]['description']+'"<br>';
                    temp += '</div>';
                    temp += '</div>';
                    temp += '</div>';
                }
                $("#div2").html(temp);
            },
            error: function(){
                alert("Please try again later");
            },
        });
    });
    function sort(value)
        {
            var temp;
            $.ajax({
                type: "POST",
                data: {"sort_order": value},
                dataType: 'json',
                url: "/sort",
                success: function(data){
                    alert("Data Found");
                    for(i in data.get_property)
                    {
                        temp += '<div class="card medium horizontal">';
                        temp += '<div class="card-image">';
                        temp += '<img src="'+ data.get_property[i].images[0] +'">';
                        temp += '</div>';
                        temp += '<div class="card-stacked">';
                        temp += '<div class="card-content" id="d1">';
                        temp += 'Title:"'+data.get_property[i]['title']+'"<br>';
                        temp += 'Location:"'+data.get_property[i]['location']+'"<br>';
                        temp += 'BHK:"'+data.get_property[i]['bhk']+'"<br>';
                        temp += 'Price:"'+data.get_property[i]['price']+'"<br>';
                        temp += 'Description:"'+data.get_property[i]['description']+'"<br>';
                        temp += '</div>';
                        temp += '</div>';
                        temp += '</div>';
                    }
                    $("#div2").html(temp);
                },
               error: function() {
                    alert("Please try again later.");
               },
            });
        }
        function search()
        {
            var bhk = [];
            $('.bhk:checked').each(function(i, e) {
                bhk.push($(this).val());
                });
            $.ajax({
               type: "POST",
               data: {"property_type": $('input[name="property_type"]:checked').val(), "usage": $('input[name="usage"]:checked').val(), "location": $("#location").val(), "bhk": bhk.join(), "min_price": "0", "max_price": $("#r1").val()},
                dataType: 'json',
                traditional : true,
                url: "/search",
               error: function() {
                    alert("Please try again later.");
               },
            });
        }
        function view_search()
        {
            $("#sort").hide();
            $("#filter").show();
        }
        function view_sort()
        {
            $("#filter").hide();
            $("#sort").show();
        }
</script>
<div class="row">
    <div class="col s2 m2 l2" id="sort">
        <center>Sort</center>
        <br>
        <div class="row">
            <input type="radio" name="group1" id="b1" value="1" onclick="sort(1)">
            <label for="b1">Price high to low</label><br>
            <input type="radio" name="group1" id="b2" value="2" onclick="sort(2)">
            <label for="b2">Price low to high</label><br>
            <input type="radio" name="group1" value="3" id="b3" onclick="sort(3)">
            <label for="b3">Newest First</label><br>
            <input type="radio" name="group1" value="4" id="b4" onclick="sort(4)">
            <label for="b4">Oldest first</label><br>
        </div>
    </div>
    <div class="col s2 m2 l2" id="filter">
        <center>
            Filter
        </center>
        <br>
        Property Type<br>
        <input type="radio" id="b5" name="property_type" value="Buy">
        <label for="b5">Buy</label><br>
        <input type="radio" id="b6" name="property_type" value="Rent">
        <label for="b6">Rent</label><br>
        <input type="radio" name="property_type" id="b7" value="Projects">
        <label for="b7">Projects</label><br>
        BHK<br>
        <input type="checkbox" id="c1" class="bhk" value="1">
        <label for="c1">1</label><br>
        <input type="checkbox" id="c2" class="bhk" value="2">
        <label for="c2">2</label><br>
        <input type="checkbox" id="c3" class="bhk" value="3">
        <label for="c3">3</label><br>
        <input type="checkbox" id="c4" class="bhk" value="4">
        <label for="c4">4</label><br>
        <input type="checkbox" id="c5" class="bhk" value="5">
        <label for="c5">5</label><br>
        Usage
        <br>
        <input type="radio" id="b11" name="usage" value="Residential">
        <label for="b11">Residential</label><br>
        <input type="radio" id="b12" name="usage" value="Commercial">
        <label for="b12">Commercial</label><br>
        Location<br>
        <input type="text" id="text1" name="location">
        Price<br>
        <input type="range" id="r1" max="50000" min="0"/>
        <center>
            <button type="submit" value="Search" onclick="search()">
                <strong>Search</strong><br>
            </button>
        </center>
    </div>
    <div class="col s6 m6 l6 push-s2 m2 l2" id="div1">
        <img src="https://maxcdn.icons8.com/Share/icon/p1em/Very_Basic//search1600.png" alt="Search"
             style="width:40px;height:40px" onclick="view_search()">
        <img src="https://image.freepik.com/free-icon/sort-up-or-sort-down-couple-of-arrows_318-48313.jpg"
             alt="Sort" style="width:40px;height:40px" onclick="view_sort()">
        <div id="div2">

        </div>
    </div>
</div>
</body>
</html>