<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Send OTP</title>
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>
        function sendotp()
        {
            $.ajax({
                type: "POST",
                data: {'contact':$("#phone").val()},
                dataType: 'json',
                url: "/send_otp",
                success: function(data){
                    if(data.success == true){
                        alert("OTP sent successfully");
                        $(location).attr('href','/view_verify_otp');
                        }
                    else{
                        alert("OTP not sent");
                       }
                },
                error: function(){
                    alert("Please try again later");
                }
            });
        }
        </script>

            <center>
                <label for="phone">Mobile Number</label>
                <input type="text" id="phone" name="contact" maxlength="10" minlength="10">
            </center>
            <br>
            <center>
                <button type="submit" value="Send OTP" onclick="sendotp()">
                    <strong>Send OTP</strong>
                </button>
            </center>

    </body>
</html>

