<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send OTP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <style>
    .imgsize{
    width:30px;
    height:30px;
}
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000000;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000000;
}
.card.horizontal {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    </style>
</head>
<body>
<script>
        $(document).ready(function(){
            $("#send").show();
            $("#verify").hide();
            document.getElementById("extra").style.padding = "20px";
        });
        function sendotp()
        {
            $.ajax({
                type: "POST",
                data: {'contact':$("#phone").val()},
                dataType: 'json',
                url: "/send_otp",
                success: function(data){
                    if(data.success == true){
                            var td1 = $("#phone").val();
                            $("#phone1").val(td1);
                            $("#send").hide();
                            $("#verify").show();
                        }
                    else{
                        alert("OTP not sent");
                       }
                },
                error: function(){
                    alert("Please try again later");
                }
            });
        }
        function enquiry()
        {
            $.ajax({
                type:"POST",
                data:{'name':$("#text2").val(), 'contact':$("#text3").val()},
                dataType:'json',
                url:'/enquire',
                success: function(data)
                {
                    alert("We will soon contact you");
                },
                error: function()
                {
                    alert("Sorry! Please try again");
                },
            });
        }
        function verifyotp()
        {
            $.ajax({
                type: "POST",
                data: {'contact':$("#phone").val(), 'otp':$("#otp").val()},
                dataType: 'json',
                url: "/verify_otp",
                success: function(data){
                    if(data.success == true){

                        $(location).attr('href','/view_home');
                        }
                    else{
                        alert("Invalid OTP");
                       }
                },
                error: function(){
                    alert("Please try again later");
                },
            });
        }

</script>
<div style="height:120px; padding:15px; background-color:#f3f4f6">
        <img src="/static/app_logo.jpg" style="height:100px; width:200px; margin-top:-5px;">
</div>
<div>
    <div class="row">
        <div class="card horizontal" style="background-color:#daddd8">
            <div class="card-image">
                <img src="http://pypaonline.org/wp-content/uploads/2016/02/maxresdefault.jpg"
                     style="width:800px; height:600px;">
            </div>
            <div class="card-stacked">
                <div class="card-content" style="margin-top:150px;">
                    <div id="send">
                        <p>
                            <h4 style="color:#0a355f;">Registration</h4>
                        </p>
                        <p>
                            <h6 style="color:#0a355f;">Mobile Number</h6>
                        </p>
                        <input style="background-color:#f9fbe7" type="tel" id="phone" placeholder="Enter your contact number" name="contact" minlength="10" maxlength="10">
                        <a class="waves-effect waves-teal btn-flat" onclick="sendotp()" style="background-color:#f3f4f6; color:#0a355f;">Submit</a>
                    </div>
                    <div id="verify">
                        <p>
                            <h4 style="color:#0a355f;">Login</h4>
                        </p>
                        <p>
                            <h6 style="color:#0a355f;">Mobile Number</h6>
                        </p>
                        <input style="background-color:#f9fbe7" type="tel" id="phone1" name="contact" minlength="10" maxlength="10" readonly>
                        <p>
                            <h6 style="color:#0a355f;">OTP</h6>
                        </p>
                        <input style="background-color:#f9fbe7" type="text" id="otp" name="otp" maxlength="6" minlength="6">
                        <a class="waves-effect waves-teal btn-flat" onclick="verifyotp()" style="background-color:#f3f4f6; color:#0a355f;">Verify</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="extra" style="margin-bottom:0px; background-color:#f3f4f6;">
    <div class="row col s3 m3 l3 black-text">
        <div style="color:#0a355f;"><b>Enquiry Form</b></div>
        <input type="text" name="name" id="text2" placeholder="Enter Your name">
        <input type="tel" name="phone" id="text3" placeholder="Contact Number" maxlength="10" minlength="10">
        <center>
             <button class="btn waves-effect waves-light white-text" style="background-color:black;" type="submit" value="Submit" onclick="enquiry()">
                Submit
            </button>
        </center>
    </div>
    <div class="row col s3 m3 l3">
        <div style="color:#0a355f;"><b>GET THE MOBILE APP</b></div>
        <a class="android appLnk" title="24 Yards Android App" href="">
            <img src="https://storage.googleapis.com/support-kms-prod/D90D94331E54D2005CC8CEE352FF98ECF639" style="height:50px; width:200px">
        </a>
    </div>
    <div class="row col s3 m3 l3">
        <div style="color:#0a355f;"><b>CONTACT US</b></div>
        Mobile Number:
        <b>
            7224987232
        </b>
        <br>
        Email id:
        <b>
            yashmoda@gmail.com
        </b>
        <br>
    </div>
    <div class="row col s3 m3 l3">
        <div style="color:#0a355f;"><b>CONNECT WITH US</b></div>
        <a class="foot_socialLink fb" href="https://www.facebook.com/24YARDSproperties/">
            <img class="imgsize" src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png">
        </a>
        <a class="foot_socialLink gPlus" href="https://plus.google.com/114633545520768933650">
            <img class="imgsize" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Google_plus_icon.svg/2000px-Google_plus_icon.svg.png">
        </a>
        <a class="foot_socialLink tw" href="">
            <img src="http://jiahaog.com/nativefier-icons/files/twitter.png" class="imgsize">
        </a>
    </div>
</div>
</body>
</html>

