<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/static/css/nouislider.min.css">
    <link href="/static/css/nouislider.css">
    <script src="/static/script/nouislider.js"></script>
    <script src="/static/script/nouislider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css' rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <style>
    .imgsize{
    width:30px;
    height:30px;
}
        td{
            padding : 0px;
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000000;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000000;
}
    </style>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>

    function contact(value)
    {
        ("#dialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Contact Form",
            width: 400,
            height: 400
        });
        $("#dialog").dialog('open');
        $("#title").val(value);
    }
    $(document).ready(function(){
        var slider = document.getElementById('test5');
            noUiSlider.create(slider, {
                start: [20, 80],
                connect: true,
                   step: 5000,
                   range: {
                     'min': 0,
                     'max': 1000000
                   },
                   format: wNumb({
                     decimals: 0
                   })
                  });
        $("#filter").hide();
        document.getElementById("extra").style.padding = "20px";
        var property = localStorage.getItem("property_type1");
        var usage = localStorage.getItem("usage");
        var location = localStorage.getItem("location1");
        var bhk = localStorage.getItem("bhk");
        var price = localStorage.getItem("price1");
        var min_price = "", max_price = "";
        localStorage.setItem("bhk",'');
        localStorage.setItem("property_type1",'');
        localStorage.setItem("usage",'');
        localStorage.setItem("location1",'');
        if (price != null)
        {
            var x = price.indexOf(",");
            min_price = price.slice(0,x);
            max_price = price.slice(x+1);
        }
        else
        {
            min_price = "0";
            max_price = "99999999999999999";
        }
        var temp="";
        $.ajax({
            type: 'POST',
            dataType: 'json',
            data:{"property_type":property, "usage":usage, "location":location, "bhk":bhk, "min_price":min_price, "max_price":max_price},

            url: '/search',
            success: function(data){
                   for(i in data.get_property)
                    {
                        temp += '<div class="col s4 m4 l4">'
                        temp += '<div class="card medium">';
                        temp += '<div class="card-image">';
                        temp += '<img src="'+ data.get_property[i]['image'] +'" onclick = "view_detail(\''+data.get_property[i]['title']+'\')" onmouseover=\"this.style.cursor=\'pointer\'\;\">';
                        temp += '</div>';
                        temp += '<div class="card-content" id="d1">';
                        temp += '<table>';
                        temp += '<thead>';
                        temp += '</thead>';
                        temp += '<tbody>';
                        temp += '<tr>';
                        temp += '<td>';
                        temp += 'Title';
                        temp += '</td>';
                        temp += '<td><b>';
                        temp += data.get_property[i]['title'];
                        temp += '</b></td>';
                        temp += '</tr>';
                        temp += '<tr>';
                        temp += '<td>';
                        temp += 'Location';
                        temp += '</td>';
                        temp += '<td><b>';
                        temp += data.get_property[i]['location'];
                        temp += '</b></td>';
                        temp += '</tr>';
                        temp += '<tr>';
                        temp += '<td>';
                        temp += 'BHK';
                        temp += '</td>';
                        temp += '<td><b>';
                        temp += data.get_property[i]['bhk'];
                        temp += '</b></td>';
                        temp += '</tr>';
                        temp += '<tr>';
                        temp += '<td>';
                        temp += 'Price';
                        temp += '</td>';
                        temp += '<td><b>';
                        temp += data.get_property[i]['price'];
                        temp += '</b></td>';
                        temp += '</tr>';
                        temp += '<tr>';
                        temp += '<td>';
                        temp += 'Highlights';
                        temp += '</td>';
                        temp += '<td><b>';
                        temp += data.get_property[i]['description'];
                        temp += '</b></td>';
                        temp += '</tr>';
                        temp += '</table>';
                        temp += '<a class="btn-floating waves-effect waves-light green" onclick = "contact(\''+data.get_property[i]['title']+'\')" style="float:right;right:-10px; top:-20px;"><i class="material-icons">call</i></a>';
                        temp += '</div>';
                        temp += '</div>';
                        temp += '</div>';
                    }
                $("#div2").html(temp);
            },
            error: function(){
                alert("Please try again later.");
            },
        });
    });
    function search()
        {
            var bhk = [];
            $('.bhk:checked').each(function(i, e) {
                bhk.push($(this).val());
                });
            localStorage.setItem("bhk",bhk);
            localStorage.setItem("property_type1",$('input[name="property_type"]:checked').val());
            localStorage.setItem("usage",$('input[name="usage"]:checked').val());
            localStorage.setItem("location1",$("#location").val())
            $(location).attr('href','/view_search');
        }

    function cont(value)
    {
        $.ajax({
            type : 'POST',
            url : "/contact_form",
            dataType : 'json',
            data : {"title" : $("#title").val(), "name" : $("#name").val(), "contact" : $("#phone").val()},
            success: function(data)
                {
                    alert("We will soon contact you");
                },
                error: function()
                {
                    alert("Sorry! Please try again");
                },
            });
        }
    function enquiry()
        {
            $.ajax({
                type:"POST",
                data:{'name':$("#text2").val(), 'contact':$("#text3").val()},
                dataType:'json',
                url:'/enquire',
                success: function(data)
                {
                    alert("We will soon contact you");
                },
                error: function()
                {
                    alert("Sorry! Please try again");
                },
            });
        }
    function sort(value)
    {
            var temp="";
            var property = localStorage.getItem("property_type");
            $.ajax({
                type: "POST",
                data: {"sort_order": value, "property_type":property},
                dataType: 'json',
                url: "/sort",
                success: function(data){
                    for(i in data.get_property)
                {
                    temp += '<div class="col s4 m4 l4">'
                    temp += '<div class="card medium">';
                    temp += '<div class="card-image">';
                    temp += '<img src="'+ data.get_property[i]['image'] +'" onclick = "view_detail(\''+data.get_property[i]['title']+'\')" onmouseover=\"this.style.cursor=\'pointer\'\;\">';
                    temp += '</div>';
                    temp += '<div class="card-content" id="d1">';
                    temp += '<table>';
                    temp += '<thead>';
                    temp += '</thead>';
                    temp += '<tbody>';
                    temp += '<tr>';
                    temp += '<td>';
                    temp += 'Title';
                    temp += '</td>';
                    temp += '<td><b>';
                    temp += data.get_property[i]['title'];
                    temp += '</b></td>';
                    temp += '</tr>';
                    temp += '<tr>';
                    temp += '<td>';
                    temp += 'Location';
                    temp += '</td>';
                    temp += '<td><b>';
                    temp += data.get_property[i]['location'];
                    temp += '</b></td>';
                    temp += '</tr>';
                    temp += '<tr>';
                    temp += '<td>';
                    temp += 'BHK';
                    temp += '</td>';
                    temp += '<td><b>';
                    temp += data.get_property[i]['bhk'];
                    temp += '</b></td>';
                    temp += '</tr>';
                    temp += '<tr>';
                    temp += '<td>';
                    temp += 'Price';
                    temp += '</td>';
                    temp += '<td><b>';
                    temp += data.get_property[i]['price'];
                    temp += '</b></td>';
                    temp += '</tr>';
                    temp += '<tr>';
                    temp += '<td>';
                    temp += 'Highlights';
                    temp += '</td>';
                    temp += '<td><b>';
                    temp += data.get_property[i]['description'];
                    temp += '</b></td>';
                    temp += '</tr>';
                    temp += '</table>';
                    temp += '<a class="btn-floating waves-effect waves-light green" onclick = "contact(\''+data.get_property[i]['title']+'\')" style="float:right;right:-10px; top:-20px;"><i class="material-icons">call</i></a>';
                    temp += '</div>';
                    temp += '</div>';
                    temp += '</div>';
                }
                    $("#div2").html(temp);
                },
               error: function() {
                    alert("Please try again later.");
               },
            });
        }
    function view_detail(value)
    {
        localStorage.setItem("title",value);
        $(location).attr('href','/view_detail');
    }
    function view_search()
    {
        $("#filter").show();
    }
</script>
<div class="blue lighten-5 black-text" style="height:120px; padding:15px;">
        <img src="/static/app_logo.jpg" style="height:100px; width:200px; margin-top:-5px;">
        <i class="small material-icons" onclick="view_search()" style="float:right; margin-top:30px;" onmouseover="this.style.cursor='pointer';">search</i>
</div>
<div class="row">
    <div class="col s2 m2 l2" id="filter">
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons" onmouseover="this.style.cursor='pointer';">sort</i>
                    Sort By
                </div>
                <div class="collapsible-body" style="padding:10px">
                    <input type="radio" name="sort" id="b1" onclick="sort(1)">
                    <label for ="b1">Price High to low</label>
                    <input type="radio" id="b2" name="sort" onclick="sort(2)">
                    <label for="b2">Price low to high</label>
                    <input type="radio" name="sort" onclick="sort(3)" id="b3">
                    <label for="b3">Newest First</label>
                    <input type="radio" id="b4" name="sort" onclick="sort(4)">
                    <label for="b4">Oldest First</label>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Property Type</div>
                <div class="collapsible-body" style="padding:10px">
                    <input type="radio" id="b5" name="property_type" value="Buy">
                    <label for="b5">Buy</label><br>
                    <input type="radio" id="b6" name="property_type" value="Rent">
                    <label for="b6">Rent</label><br>
                    <input type="radio" name="property_type" id="b7" value="Projects">
                    <label for="b7">Projects</label><br>
                </div>
            </li>
            <li>
                <div class="collapsible-header">BHK</div>
                <div class="collapsible-body" style="padding:10px">
                    <input type="checkbox" id="c1" class="bhk" value="1">
                    <label for="c1">1</label><br>
                    <input type="checkbox" id="c2" class="bhk" value="2">
                    <label for="c2">2</label><br>
                    <input type="checkbox" id="c3" class="bhk" value="3">
                    <label for="c3">3</label><br>
                    <input type="checkbox" id="c4" class="bhk" value="4">
                    <label for="c4">4</label><br>
                    <input type="checkbox" id="c5" class="bhk" value="5">
                    <label for="c5">5</label><br>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Usage</div>
                <div class="collapsible-body" style="padding:10px">
                    <input type="radio" id="b11" name="usage" value="Residential">
                    <label for="b11">Residential</label><br>
                    <input type="radio" id="b12" name="usage" value="Commercial">
                    <label for="b12">Commercial</label><br>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Locality</div>
                <div class="collapsible-body" style="padding:10px">
                    <input type="text" name="location" id="location" placeholder="Enter the locality">
                </div>
            </li>
            <li>
                <div class="collapsible-header">Budget</div>
                <div class="collapsible-body">
                    <div id="test5" class="noUiSlider" style="height: 20px; width: 100%; margin: 25px;"></div>

                </div>
            </li>
        </ul>
        <center>
            <button type="submit" value="Search" onclick="search()">
                <strong>Search</strong><br>
            </button>
        </center>
    </div>
    <div id="div1">
        <div id="div2" class="row">

        </div>
    </div>
</div>
<div class="row blue lighten-5 black-text" id="extra" style="margin-bottom:0px;">
    <div class="row col s3 m3 l3 black-text">
        <div><b>Enquiry Form</b></div>
        <input type="text" name="name" id="text2" placeholder="Enter Your name">
        <input type="tel" name="phone" id="text3" placeholder="Contact Number" maxlength="10" minlength="10">
        <center>
             <button class="btn waves-effect waves-light white-text" style="background-color:black;" type="submit" value="Submit" onclick="enquiry()">
                Submit
            </button>
        </center>
    </div>
    <div class="row col s3 m3 l3">
        <div><b>GET THE MOBILE APP</b></div>
        <a class="android appLnk" title="24 Yards Android App" href="">
            <img src="https://storage.googleapis.com/support-kms-prod/D90D94331E54D2005CC8CEE352FF98ECF639" style="height:50px; width:200px">
        </a>
    </div>
    <div class="row col s3 m3 l3">
        <div><b>CONTACT US</b></div>
        Mobile Number:
        <b>
            7224987232
        </b>
        <br>
        Email id:
        <b>
            yashmoda@gmail.com
        </b>
        <br>
    </div>
    <div class="row col s3 m3 l3">
        <div><b>CONNECT WITH US</b></div>
        <a class="foot_socialLink fb" href="https://www.facebook.com/24YARDSproperties/">
            <img class="imgsize" src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png">
        </a>
        <a class="foot_socialLink gPlus" href="https://plus.google.com/114633545520768933650">
            <img class="imgsize" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Google_plus_icon.svg/2000px-Google_plus_icon.svg.png">
        </a>
        <a class="foot_socialLink tw" href="">
            <img src="http://jiahaog.com/nativefier-icons/files/twitter.png" class="imgsize">
        </a>
    </div>
</div>
<div id="dialog" style="display: none" align = "center">
    <label for="title"><h6>Title</h6></label>
    <input type="text" id="title" name="title" readonly>
    <label for="name"><h6>Name</h6></label>
    <input type="text" name="name" id="name">
    <label for="phone"><h6>Phone</h6></label>
    <input id="phone" name="contact" type="tel">
    <button class="btn waves-effect waves-light white-text" style="background-color:black;" type="submit" value="Submit" onclick="cont()">
        Submit
    </button>
</div>
</body>
</html>