<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css' rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
    <style>
        td{
            padding: 2px;
        }
    </style>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>

    $(document).ready(function(){
        var slider = document.getElementById('test5');
            noUiSlider.create(slider, {
                start: [20, 80],
                connect: true,
                   step: 5000,
                   range: {
                     'min': 0,
                     'max': 1000000
                   },
                   format: wNumb({
                     decimals: 0
                   })
                  });
        document.getElementById("extra").style.padding = "20px";
        document.getElementById("panel").style.padding = "15px";
        var property = localStorage.getItem("property_type");
        var usage = localStorage.getItem("usage");
        var location = localStorage.getItem("location1");
        var bhk = localStorage.getItem("bhk");
        var price = localStorage.getItem("price");
        var x = price.indexOf(",");
        var min_price = price.slice(0,x);
        var max_price = price.slice(x+1);
        var temp="";
        $.ajax({
            type: 'POST',
            dataType: 'json',
            data:{"property_type":property, "usage":usage, "location":location, "bhk":bhk, "min_price":min_price, "max_price":max_price},

            url: '/search',
            success: function(data){
                   for(i in data.get_property)
                    {
                        temp += '<div class="col s4 m4 l4">'
                        temp += '<div class="card medium">';
                        temp += '<div class="card-image">';
                        temp += '<img src="'+ data.get_property[i]['image_url'] +'" onmouseover=\"this.style.cursor=\'pointer\'\;\">';
                        temp += '</div>';
                        temp += '<div class="card-content" id="d1">';
                        temp += '<table>';
                        temp += '<thead>';
                        temp += '</thead>';
                        temp += '<tbody>';
                        temp += '<tr>';
                        temp += '<td>';
                        temp += 'Title';
                        temp += '</td>';
                        temp += '<td><b>';
                        temp += data.get_property[i]['title'];
                        temp += '</b></td>';
                        temp += '</tr>';
                        temp += '<tr>';
                        temp += '<td>';
                        temp += 'Location';
                        temp += '</td>';
                        temp += '<td><b>';
                        temp += data.get_property[i]['location'];
                        temp += '</b></td>';
                        temp += '</tr>';
                        temp += '<tr>';
                        temp += '<td>';
                        temp += 'BHK';
                        temp += '</td>';
                        temp += '<td><b>';
                        temp += data.get_property[i]['bhk'];
                        temp += '</b></td>';
                        temp += '</tr>';
                        temp += '<tr>';
                        temp += '<td>';
                        temp += 'Price';
                        temp += '</td>';
                        temp += '<td><b>';
                        temp += data.get_property[i]['price'];
                        temp += '</b></td>';
                        temp += '</tr>';
                        temp += '<tr>';
                        temp += '<td>';
                        temp += 'Highlights';
                        temp += '</td>';
                        temp += '<td><b>';
                        temp += data.get_property[i]['description'];
                        temp += '</b></td>';
                        temp += '</tr>';
                        temp += '</table>';
                        temp += '</div>';
                        temp += '</div>';
                        temp += '</div>';
                    }
                $("#div2").html(temp);
            },
            error: function(){
                alert("Please try again later.");
            },
        });
    });
    function sort(value)
    {
            var temp;
            var property = localStorage.getItem("property_type");
            $.ajax({
                type: "POST",
                data: {"sort_order": value, "property_type":property},
                dataType: 'json',
                url: "/sort",
                success: function(data){
                    for(i in data.get_property)
                {
                    temp += '<div class="col s4 m4 l4">'
                    temp += '<div class="card medium">';
                    temp += '<div class="card-image">';
                    temp += '<img src="'+ data.get_property[i]['image_url'] +'" onmouseover=\"this.style.cursor=\'pointer\'\;\">';
                    temp += '</div>';
                    temp += '<div class="card-content" id="d1">';
                    temp += '<table>';
                    temp += '<thead>';
                    temp += '</thead>';
                    temp += '<tbody>';
                    temp += '<tr>';
                    temp += '<td>';
                    temp += 'Title';
                    temp += '</td>';
                    temp += '<td><b>';
                    temp += data.get_property[i]['title'];
                    temp += '</b></td>';
                    temp += '</tr>';
                    temp += '<tr>';
                    temp += '<td>';
                    temp += 'Location';
                    temp += '</td>';
                    temp += '<td><b>';
                    temp += data.get_property[i]['location'];
                    temp += '</b></td>';
                    temp += '</tr>';
                    temp += '<tr>';
                    temp += '<td>';
                    temp += 'BHK';
                    temp += '</td>';
                    temp += '<td><b>';
                    temp += data.get_property[i]['bhk'];
                    temp += '</b></td>';
                    temp += '</tr>';
                    temp += '<tr>';
                    temp += '<td>';
                    temp += 'Price';
                    temp += '</td>';
                    temp += '<td><b>';
                    temp += data.get_property[i]['price'];
                    temp += '</b></td>';
                    temp += '</tr>';
                    temp += '<tr>';
                    temp += '<td>';
                    temp += 'Highlights';
                    temp += '</td>';
                    temp += '<td><b>';
                    temp += data.get_property[i]['description'];
                    temp += '</b></td>';
                    temp += '</tr>';
                    temp += '</table>';
                    temp += '</div>';
                    temp += '</div>';
                    temp += '</div>';
                }
                    $("#div2").html(temp);
                },
               error: function() {
                    alert("Please try again later.");
               },
            });
        }
    function view_search()
    {
        $("#filter").show();
    }
</script>
<div class="card-panel amber lighten-2 black-text" id="panel" style="height:60px">
    <H5>
        24 Yards
        <i class="material-icons" onclick="view_search()" onmouseover="this.style.cursor='pointer';">search</i>
    </H5>
</div>
<div class="row">
    <div class="col s2 m2 l2" id="filter">
        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons" onmouseover="this.style.cursor='pointer';">sort</i>
                    Sort By
                </div>
                <div class="collapsible-body" style="padding:10px">
                    <input type="radio" id="b1" onclick="sort(1)">
                    <label for ="b1">Price High to low</label>
                    <input type="radio" id="b2" onclick="sort(2)">
                    <label for="b2">Price low to high</label>
                    <input type="radio" onclick="sort(3)" id="b3">
                    <label for="b3">Newest First</label>
                    <input type="radio" id="b4" onclick="sort(4)">
                    <label for="b4">Oldest First</label>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Property Type</div>
                <div class="collapsible-body" style="padding:10px">
                    <input type="radio" id="b5" name="property_type" value="Buy">
                    <label for="b5">Buy</label><br>
                    <input type="radio" id="b6" name="property_type" value="Rent">
                    <label for="b6">Rent</label><br>
                    <input type="radio" name="property_type" id="b7" value="Projects">
                    <label for="b7">Projects</label><br>
                </div>
            </li>
            <li>
                <div class="collapsible-header">BHK</div>
                <div class="collapsible-body" style="padding:10px">
                    <input type="checkbox" id="c1" class="bhk" value="1">
                    <label for="c1">1</label><br>
                    <input type="checkbox" id="c2" class="bhk" value="2">
                    <label for="c2">2</label><br>
                    <input type="checkbox" id="c3" class="bhk" value="3">
                    <label for="c3">3</label><br>
                    <input type="checkbox" id="c4" class="bhk" value="4">
                    <label for="c4">4</label><br>
                    <input type="checkbox" id="c5" class="bhk" value="5">
                    <label for="c5">5</label><br>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Usage</div>
                <div class="collapsible-body" style="padding:10px">
                    <input type="radio" id="b11" name="usage" value="Residential">
                    <label for="b11">Residential</label><br>
                    <input type="radio" id="b12" name="usage" value="Commercial">
                    <label for="b12">Commercial</label><br>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Locality</div>
                <div class="collapsible-body" style="padding:10px">
                    <input type="text" name="location" id="text1" placeholder="Enter the locality">
                </div>
            </li>
            <li>
                <div class="collapsible-header">Budget</div>
                <div class="collapsible-body">
                    <div id="test5" class="noUiSlider" style="height: 20px; width: 100%; margin: 25px;"></div>

                </div>
            </li>
        </ul>
        <center>
            <button type="submit" value="Search" onclick="search()">
                <strong>Search</strong><br>
            </button>
        </center>
    </div>
    <div id="div1">
        <div id="div2" class="row">

        </div>
    </div>
</div>
<div class="amber lighten-1 black-text" id="extra">
    <div class="row" onmouseover="this.style.cursor='pointer';" id="download">
            Download App
    </div>
    <div class="row " onmouseover="this.style.cursor='pointer';" id="contact">
            Contact Us
    </div>
    <div class="row " onmouseover="this.style.cursor='pointer';" id="about">
            About Us
    </div>
    <div class="row " onmouseover="this.style.cursor='pointer';" id="privacy">
            Privacy Policy
    </div>
    <div class="row" onmouseover="this.style.cursor='pointer';" id="tc">
            Terms and Conditions
    </div>
</div>
</body>
</html>